*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
   
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body{
    background-color: #000000;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    overflow-x: hidden;
}
:root{
    --white: #ffff;
    --cyan: #00ffff;
    --orange: rgba(234,35,108,1);
}

#navmenu{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 5;
}
#navmenu:hover{
    background: var(--cyan);
    transition: ease-out, 1.5s;
    /* transform: translate(0 0); */
    transform: translate(-10%);
    border: none;
    }
    

#menu-cta{
    background: var(--orange);
    color: var(--white);
    text-decoration: none;
    border: none;
    padding: 0rem 1rem; 
    margin: 0.5rem;
    cursor: pointer;
}

#menu-cta:hover{
    background: var(--cyan);
    transition: ease-out, 1.5s;
    transform: translate(-10%);
    border: none;
}

#Hero{
    padding: 6% 5%;
    text-align: center;
    background: linear-gradient(180deg, rgba(0,0,0) 87%, rgba(0,255,255,0.9) 190%);
    /* background-color: var(--cyan); */
}


#titlee{
    color: whitesmoke;
    /* font-size: 60px;
    font-weight: 800;
    font-family: monospace;
    letter-spacing: 1px; */
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 5;
    text-align: center;
}

.text{
    /* margin-top: 5px; */
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    letter-spacing: 0;
}

.text, p{
    color: white;
}



.button-container{
    margin-top: 6%;
    padding: 8%;

}

.button{
    background: var(--orange);
    border: none;
    text-decoration: none;
    padding: 18px 13px;
    color: var(--white);
    border-radius: 1px;
    margin: 0.5rem;
    cursor: pointer;
}

.button, a{
    text-decoration: none;
}

.button:hover{
    background: var(--cyan);
    transition: ease-out, 1.5s;
    transform: translate(-10%);
    border: none;
    font-size: larger;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0px 2px 5px var(--cyan),
    0px 2px 5px var(--cyan);
}


/* Hero Image */

.hero-imgg{
    width: 700px;
    height: 650px;
}


/* About Us section */

#About-container{
    text-align: center;
    padding: 5% 15%;
}

.about-title{
    color: var(--white);
    letter-spacing: 0;
    /* text-decoration: underline var(--cyan); */
}

.about-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
/* Road map */

#road-map-section{
    text-align: center;
    padding: 5% 15%;
    background: radial-gradient(circle, rgba(0,0,0,1) 18%, rgba(6, 235, 235, 0.541) 100%);
}

.road-map-title{
    color: var(--white);
}


/* Team section */

#team-section{
    text-align: center;
    margin-top: 25px;
    padding: 7% 8%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(255,35,108,1) 999%);
}
.team-title{
    color: var(--white);
    letter-spacing: 0;
}
.team-text{
    text-align: center;
    color: var(--white);
    margin-bottom: 10%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0;
    text-transform: uppercase;
}
.team-text p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 7;
    color: var(--cyan);
}

.team-container{
    display: flex;
    justify-content: center;
}

.team-image{
    border: 0px solid var(--white);
    border-radius: 10px;
}


.img-1{
    width: 50%;
    height: 60%;
    border: 1px solid var(--cyan);
    padding: 3px;
    border-radius: 10px;
}

.img-2{
    width: 50%;
    height: 60%;
    border: 1px solid var(--cyan);
    padding: 3px;
    border-radius: 10px;
}

.img-3{
    width: 50%;
    height: 60%;
    border: 1px solid var(--cyan);
    padding: 3px;
    border-radius: 10px;
}


#contact-section{
    text-align: center;
    padding: 5% 7%;
}

.contact-title{
    color: var(--cyan);
}

/* NFT */
#nft{
    text-align: center;
    padding: 5% 15%;
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(255,35,108,1) 887%); */
}



/* Mobile */

@media  screen and (max-width:900px) {


    #Hero{
        padding: 30% 5%;
        text-align: center;
        background: linear-gradient(180deg, rgba(0,0,0) 87%, rgba(0,255,255,0.9) 280%);
    }
    .hero-img{
        display: none;
    }
    
    .about-title{
        color: var(--white);
        letter-spacing: 0;
        /* margin-top: 15%; */
    }

    .road-map-title{
        color: var(--white);
       
    }
}