* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  background-color: #000000;
  font-family: monospace;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  overflow-x: hidden;
}


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

#navmenu {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 5;
}
#navmenu:hover {
  background: var(--cyan);
  transition: ease-out, 1.5s;
  /* transform: translate(0 0); */
  transform: translate(-10%);
  border: none;
}

#menu-cta {
  background: var(--cyan);
  color: var(--white);
  text-decoration: none;
  border: none;
  padding: 0rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

#menu-cta:hover {
  background: var(--cyan);
  transition: ease-out, 1.5s;
  transform: translate(-10%);
  border: none;
}

#Hero {
  padding: 6% 5%;
  text-align: center;
  /* background: linear-gradient(180deg, rgba(0,0,0,0.9542410714285714) 96%, rgba(0,255,255,0.6853335084033614) 100%); */
}

#titlee {
  color: whitesmoke;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 5;
  text-align: center;
}

.text {
  /* margin-top: 5px; */
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  letter-spacing: 0;
}

.text,
p {
  color: white;
}

.button-container {
  margin-top: 6%;
  padding: 8%;
}

.button {
  background: var(--cyan);
  border: none;
  text-decoration: none;
  padding: 18px 13px;
  color: var(--white);
  border-radius: 1px;
  margin: 0.5rem;
  cursor: pointer;
}

.button,
a {
  text-decoration: none;
}

.button:hover {
  background: var(--cyan);
  transition: ease-out, 1.5s;
  transform: translate(-10%);
  border: none;
  font-size: larger;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 2px 5px var(--cyan), 0px 2px 5px var(--cyan);
}

/* Hero section*/

.hero-imgg {
  width: 700px;
  height: 650px;
}

/* About Us section */

#About-container {
  text-align: center;
  padding: 5% 2%;
  background: rgb(0, 17, 37);
}
#About-container p {
  color: var(--white);
  
}

.about-title {
  color: var(--white);
  letter-spacing: 0;
}

.about-text {
  font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 5;
  
}

.about-text a{
  color: var(--cyan);
}
.about-text a:hover{
  color: cyan;
}

/* Marq */

.marq {

  top: 117px;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  position: relative;
  color: var(--white);
 
  border-left-style: none;
  border-right-style: none;
}

.marq p {
  /* padding-top: 2%; */
  position: absolute;
 
  margin: 0;
  /* line-height: 50px; */
  text-align: center;
  font-size: 20px;
  /* Starting position */
  /* -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  */
  transform: translateX(100%);
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {

    transform: translateX(100%);
  }
  100% {
 
    transform: translateX(-100%);
  }
}

/* COLLECTION SECTION */

#collection-section {
  text-align: center;
  padding: 8% 10%;
  /* background: rgb(43,94,136); */
background: linear-gradient(180deg, rgba(0, 255, 255, 0.843) -34%, rgba(50, 14, 103, 0.953) 15%);
  
}


.collection-title {
  color: var(--white);
  font-family: inherit;
  font-size: 48px;
  letter-spacing: 0;
}

.collection-text-container {
  padding: 2%;
}

.collection-text {
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 5;
}

.sub-tittle-container {
  padding: 1% 15%;
  background-color: rgba(35, 11, 72, 0.996);
  font-size: 15px;
  margin: 4%;
  border-radius: 10px;
}

.price-text {
  padding-top: 9px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  letter-spacing: 2;
  font-size: 20px;
}

.live-text {
  color: var(--white);
  font-weight: 100;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-left {
  color: var(--white);
  font-size: 26px;
  opacity: 0.3;
}

#scroll-right {
  color: var(--white);
  font-size: 26px;
  opacity: 0.3;
}

.inner-container:hover {
  /* box-shadow: rgb(132, 111, 244) 0 8px 15px; */
  transform: translateY(-5px);
  transition: all 0.1s ease-in-out;
}
.inner-container {
  padding: 2% 1%;
  margin: 2% 1%;
  border: 1px solid;
  background: linear-gradient(
    180deg,
    rgba(108, 9, 176, 0.95) 8%,
    rgba(47, 24, 47, 0.9094231442577031) 82%
  );
}
.collection-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.label-container {
  margin-top: 6%;
}
.mint-btn-container {
  padding: 2%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 100;
  letter-spacing: 6;
}

.mint-btn {
  border: 1px solid rgb(39, 10, 76);
  padding: 13px 39px;
  color: white;
  background-color: rgb(72, 18, 143);
  border-radius: 4px;
  font-size: 19px;
  cursor: pointer;
}

.mint-btn:hover {
  color: white;
}

/* Launch details */

.collection-date {
  color: var(--white);
  letter-spacing: 0;
  padding-top: 2%;
}

.countdown-ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.date-circle {
  border: 1px solid white;
  margin: 4%;
  width: 50%;
  height: 55%;
  padding: 3% 6%;
  border-radius: 80%;
  background-color: white;
  color: var(--info);
}


#days-container{
  padding:2% 7%;
}
#hours-container{
  padding: 3% 4.9%;
}


#min-container {
  padding: 3% 7%;
}

#seconds-container {
  padding: 3% 7%;
}

.countdown-ctn p {
  font-size: 45px;
  color: var(--info);
  font-weight: 600;
}

.countdown-ctn span {
  font-size: 30px;
  color: var(--info);
  font-weight: bold;
}

/* MOBILE COUNTDOWN */
.mobile-date p {
  font-size: 34px;
  color: white;
  font-weight: 600;
}
.mobile-date span {
  font-size: 16px;
  color: var(--pink);
  font-weight: bold;
}

/* ABOUT US - ELITE MISSION */

#about-cta {
  background: var(--cyan);
  border: none;
  text-decoration: none;
  padding: 15px 18px;
  color: #2F075E;
  border-radius: 1px;
  margin: 0.5rem;
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 5;
}

#about-cta,
a {
  text-decoration: none;
  color: white;
}

#about-cta,
a:hover {
  text-decoration: none;
  color: var(--white);
}
#about-cta:hover {
  color: var(--white);
  background: var(--cyan);
  transition: ease-in-out, 1.5s;
  transform: translate(-2%);
  border: none;
}

Clear floats after the columns .road-row:after {
  content: "";
  display: table;
  clear: both;
}

#road-map-section {
  text-align: center;
  color: white;
  padding: 1% 2%; 
  background-image: linear-gradient(to top, #30d0d0cc -80%, #330867f9 100%);
}

.roadmap-p {
  padding: 3% 4%;
  color: var(--white);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 0;
  font-family: "PT Sans Narrow", sans-serif;
}
.project-title {
  font-size: 30px;
}
.rocket {
  width: 40px;
  position: absolute;
  /* bottom: 0px; */
  right: 30%;
  left: 73%;
  animation: rocket 4s linear infinite;
}
@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}
.rocket-2 {
  width: 40px;
  position: absolute;
  /* bottom: 0px; */
  left: 20%;
  animation: rocket 5s linear infinite;
}

/*  New road map */

.rd-title-con {
  margin: 4%;
  padding: 1% 5%;
}
.rd-mp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.rd-img-con i {
  margin-top: 35px;
  color: #00ffff;
}

.inner-rd-con {
  margin: 5%;
  /* padding: 2% 1%; */
  border-radius: 15px;
}
.text-ctn{
  border:  1px solid var(--purple);
  margin-top: 5%;
  padding: 3% 7%;
  border-radius: 15px;
  box-shadow: rgba(41, 134, 160, 0.66) 0px 10px 10px -5px;
  background-image: linear-gradient(to top, #30d0d0cc -80%, #330867f9 100%)
}
.text-ctn:hover{
  border:  1px solid var(--purple);
  margin-top: 5%;
  padding: 5%;
  border-radius: 15px;
  
  background-image: linear-gradient(to top, #330867f9 100%, #30d0d0cc -80%)
}

.map-hov h6 {
  padding: 4% 8%;
  font-size: 22px;
  letter-spacing: 0;
  font-family: inherit;
  color: var(--white);
}

.map-hov p {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1;
  font-family: "PT Sans Narrow", sans-serif;
  padding: 1% 8%;
}

.rd-img-con span {
  color: var(--white);
  font-size: 15px;
  background: var(--pink);
  border-radius: 55px;
  padding: 1%;
}

.map-hov:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transition: all ease 1s;
  font-weight: 600;
}

.rd-img-con {
  margin-bottom: 7%;
}
.rd-img-con i {
  font-size: 60px;
  color: white;
}

.rd-text-con {
  margin-bottom: 7%;
}
.inner-rd-con-img {
  width: 30%;
  height: 30%;
}

/* Team section */

#team-section {
  text-align: center;
 
  padding: 8% 8%;
  background-image: linear-gradient(to top, #30d0d0cc -80%, #330867c7 60%, #001125);
}
.team-title {
  color: var(--white);
  letter-spacing: 0;
  margin-bottom: 11%;
}
.team-text {
  text-align: center;
  color: var(--white);
  margin-bottom: 10%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.team-text p {
  font-family: "PT Sans Narrow", sans-serif;
  /* font-weight: 200; */
  font-size: 15px;
  letter-spacing: 2;
  color: var(--cyan);
}

.team-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.team-image {
  border: 0px solid var(--white);
  border-radius: 10px;
}

.img-1 {
  width: 50%;
  height: 60%;
  border: 1px solid var(--cyan);
  padding: 3px;
  border-radius: 10px;
}

.img-2 {
  width: 50%;
  height: 60%;
  border: 1px solid var(--cyan);
  padding: 3px;
  border-radius: 10px;
}

.img-3 {
  width: 50%;
  height: 60%;
  border: 1px solid var(--cyan);
  padding: 3px;
  border-radius: 10px;
}

#contact-section {
  text-align: center;
  padding: 5% 7%;
}

.contact-title {
  color: var(--cyan);
}

/* NFT */
#nft {
  text-align: center;
  padding: 5% 15%;
}

#faq {
  text-align: center;
  background: rgb(0, 17, 37);
  /* margin-top: 20px; */
  padding: 7% 4%;
}

.faq-con {
  margin: 5%;
}

#acc-head{
  background-color: #001125;
  
  color: white;
}

.acc-item{
border: 2px solid gray;
border-radius: 5px;
}

.acc-bg{
  background-color: rgba(45, 38, 81, 0.406);
  padding: 2%;
  border-radius: 20px;
 
}
/* FOOTER */

footer {
  padding: 5% 12%;
  font-family: "PT Sans Narrow", sans-serif;
  
  font-size: 18px;
  
}

.footer-text {
  padding: 15px;
}
.footer-text a {
  text-decoration: none;
  color: var(--orange);
  text-align: center;
  /* font-weight: 200; */
  text-align: center;
}

.footer-title {
  font-size: 30px;

  color: var(--white);
  letter-spacing: 1;

  padding-bottom: 3%;
}

.ico {
  font-size: 32px;

  color: var(--white);
  
}

.Copyright {
  margin-top: 4%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  letter-spacing: 3;
  font-weight: 100 !important;
}

/* Mobile */

@media screen and (max-width: 900px) {
  #Hero {
    padding: 30% 5%;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0) 87%,
      rgba(0, 255, 255, 0.9) 280%
    );
  }
  .hero-img {
    display: none;
  }

  .about-title {
    color: var(--white);
    letter-spacing: 0;
  }

  .collection-title {
    font-size: 25px;
    font-family: inherit;
  }
.collection-text{
  font-size: smaller;
}
  .road-map-title {
    color: var(--white);
  }

  .main-image-container {
    flex-direction: column;
    text-align: center;
  }

  .inner-container {
    margin: 3%;

    width: 100%;
    height: 90%;
  }

  .inner-container {
    box-shadow: rgba(234, 35, 108, 0.45) 0px 25px 20px -20px;
  }

  .label-container p {
    font-size: 10px;
  }

  .countdown-ctn {
    display: none;
  }

  .countdown-ctn span {
    font-size: 12px;
    padding: 1% 4%;
  }

  /* new road map */

  .rd-mp-container {
    flex-direction: row;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .inner-rd-con {
    margin: 5%;
  }

  .footer-title {
    font-size: 25px;
  }

  .Copyright {
    margin-top: 5%;
    font-size: 13px;
  }

  #scroll-left {
    display: none;
  }

  #scroll-right {
    display: none;
  }

  .marq {
    display: none;
  }

  #road-map-section {
    text-align: center;
    color: white;
    padding: 6% 4%;
    border-bottom: #00ffff;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

  .roadmap-p {
    padding: 6% 5%;
    margin: 4%;
    color: var(--white);
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 2;
    font-family: "PT Sans Narrow", sans-serif;
  }

  .map-hov {
    margin: 6%;
  }

  .rd-mp-container {
    flex-direction: column;
  }
  .map-hov h6 {
    font-weight: 00;
    font-size: 17px;
    letter-spacing: 0;
    font-family: inherit;
    color: var(--white);
    padding: 3%;
  }

  .map-hov p {
    margin: 2%;
    padding: 6% 2%;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 0;
    font-family: "PT Sans Narrow", sans-serif;
  }

  #faq {
    text-align: center;
    background: rgb(0, 17, 37);
    margin: 0;
    padding: 15% 8%;
  }
  
  .faq-con{
    margin-bottom: 25%;
  }

  .acc-bg{
    background-color: rgba(45, 38, 81, 0.406);
    padding: 10%;
    border-radius: 20px;
    margin: 8%;
  }
  .mint-btn-container {
    padding: 11% 15%;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 100;
    letter-spacing: 6;
  }
  
  .mint-btn {
    border: 1px solid rgb(39, 10, 76);
    padding: 5px 5px;
    color: white;
    background-color: rgb(72, 18, 143);
    border-radius: 4px;
    font-size: 19px;
    cursor: pointer;
  }

  .collection-date{
 
  
    color: white;
    font-size: 53px;
    padding: 4%;
  }


  #About-container {
    text-align: center;
    padding: 1% 2%;
    /* font-family: "Open Sans", sans-serif; */
    background: rgb(0, 17, 37);
  }

.abt-text-ctn{
  margin-top: -28%;
  
}

}
