* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body {
  background-color: #000000;
  font-family: monospace;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  overflow-x: hidden;
  
}
:root {
  --white: #ffff;
  --cyan: #00ffff;
  --orange: rgba(234, 35, 108, 1);
}

#navmenu {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 5;
}
#navmenu:hover {
  background: var(--cyan);
  transition: ease-out, 1.5s;
  /* transform: translate(0 0); */
  transform: translate(-10%);
  border: none;
}

#menu-cta {
  background: var(--orange);
  color: var(--white);
  text-decoration: none;
  border: none;
  padding: 0rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

#menu-cta:hover {
  background: var(--cyan);
  transition: ease-out, 1.5s;
  transform: translate(-10%);
  border: none;
}

#Hero {
  padding: 6% 5%;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0) 87%,
    #30bdd0e1 120%
  );
}

#titlee {
  color: whitesmoke;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 5;
  text-align: center;
}

.text {
  /* margin-top: 5px; */
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  letter-spacing: 0;
}

.text,
p {
  color: white;
}

.button-container {
  margin-top: 6%;
  padding: 8%;
}

.button {
  background: var(--orange);
  border: none;
  text-decoration: none;
  padding: 18px 13px;
  color: var(--white);
  border-radius: 1px;
  margin: 0.5rem;
  cursor: pointer;
}

.button,
a {
  text-decoration: none;
}

.button:hover {
  background: var(--cyan);
  transition: ease-out, 1.5s;
  transform: translate(-10%);
  border: none;
  font-size: larger;
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 2px 5px var(--cyan), 0px 2px 5px var(--cyan);
}

/* Hero section*/

.hero-imgg {
  width: 700px;
  height: 650px;
}

/* About Us section */

#About-container {
  text-align: center;
  padding: 5% 2%;
  background-image: linear-gradient(0deg, rgba(234, 35, 108, 0.356) 0%, #3d7d86cd 90%, #3d7d8694 100% );
}
#About-container p{
  color: var(--white);
  font-weight: 600;
}


.about-title {
  color: var(--white);
  letter-spacing: 0;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: var(--white);
}

/* Marq */

.marq{
  /* height: 50px; */
  /* display: flexbox; */
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-items: center; */
  /* width: 400%; */
  /* background: #000000; */
  /* overflow: hidden; */
  /* position: relative; */
  top: 117px;
  /* margin: 0 95%; */
  /* padding: 0 25; */
  /* border-top: 2px solid black; */
  /* border: 3px solid rgba(51, 41, 112, 1); */
  /* border-right-style: none; */
  /* border-left-style: none; */
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  height: 50px; 
 /* overflow: scroll */
 overflow: hidden;
 position: relative;
 /* background: yellow; */
 color: var(--white);
 /* border: 1px solid orange; */
 border-left-style: none;
 border-right-style: none;
}

.marq p{
  /* padding-top: 2%; */
  position: absolute;
 /* width: 100%;
 height: 100%; */
 color: #de1111;
 margin: 0;
 /* line-height: 50px; */
 text-align: center; 
 font-size: 25px;
 /* Starting position */
 /* -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  */
 transform:translateX(100%);
 /* Apply animation to this element */ 
 /* -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite; */
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
/* @-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
} */
/* @-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
} */
@keyframes scroll-left {
 0%   { 
 /* -moz-transform: translateX(100%);
 -webkit-transform: translateX(100%);  */
 transform: translateX(100%);   
 }
 100% { 
 /* -moz-transform: translateX(-100%);
 -webkit-transform: translateX(-100%);  */
 transform: translateX(-100%); 
 }
}


/* COLLECTION SECTION */

#collection-section {
  text-align: center;
  padding: 8% 10%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  /* font-size: 18px; */
  letter-spacing: 5;
  background: linear-gradient(0deg,#9795f0 0%, #330867f3 0%, rgba(0,0,0,1) 13%, rgba(234, 35, 108, 0.764) 200%);
  
}

/* #9795f0 0%, #fbc8d4 100% */

.collection-title {
  font-weight: bold;
  color: var(--white);
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 5;
}

.collection-text-container {
  padding: 2%;
}

.collection-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 9;
}

.sub-tittle-container {
  padding: 1% 15%;
  background-color: #330867;
  font-size: 15px;
  margin: 4%;
}

.price-text {
  padding-top: 9px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  letter-spacing: 2;
  font-size: 20px;
}

.live-text {
  color: var(--white);
  font-weight: 100;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


#scroll-left{
  color: var(--white);
  font-size: 26px;
  opacity: 0.3;
}

#scroll-right{
  color: var(--white);
  font-size: 26px;
  opacity: 0.3;
}

.inner-container:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-5px);
  transition: all 0.1s ease-in-out;
}
.inner-container {
  padding: 2% 1%;
  margin: 2% 1%;
  border: 1px solid;
}
.collection-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.label-container {
  margin-top: 6%;
}
.mint-btn-container {
  padding: 2%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 100;
  letter-spacing: 6;
}

.mint-btn {
  border: 1px solid #330867;
  padding: 3px 10px;
  color: white;
  background-color: #330867;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.mint-btn:hover {
  color: white;
}

/* Launch details */

.collection-date {
  color: var(--white);
  letter-spacing: 0;
  padding-top: 2%;
}

.countdown-ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}

.date-circle{
  border: 1px solid var(--white);
  margin: 4%;
  width: 50%;
  height: 55%;
  padding: 3% 6% ;
  border-radius: 80%;
  background-color: var(--white);
  color: black;
}

#min-container{
  padding: 3% 4%; 
}

#seconds-container{
  padding: 3% 4%; 

}

.countdown-ctn p {
  font-size: 45px;
  color: black;
  font-weight: 600;
}

.countdown-ctn span {
  font-size: 30px;
  color:black;
  font-weight: bold;

}

/* MOBILE COUNTDOWN */
.mobile-date p{
  font-size: 22px;
  color: white;
  font-weight: 600;
}
.mobile-date span{
  font-size: 15px;
  color:var(--orange);
  font-weight: bold;
}

/* ABOUT US - ELITE MISSION */

#about-cta {
  background: black;
  border: none;
  text-decoration: none;
  padding: 15px 18px;
  color: var(--white);
  border-radius: 1px;
  margin: 0.5rem;
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 5;
}

#about-cta,
a {
  text-decoration: none;
  color: var(--white);
}

#about-cta,
a:hover {
  text-decoration: none;
  color: var(--white);
}
#about-cta:hover {
  color: var(--white);
  background: black;
  transition: ease-in-out, 1.5s;
  transform: translate(-2%);
  border: none;
}

Clear floats after the columns
.road-row:after {
  content: "";
  display: table;
  clear: both;
  
} 

#road-map-section {
  text-align: center;
   color: white;
  padding: 6% 2%;
  border-bottom: #00ffff;
  background-image: linear-gradient(to top, #30d0d0cc 0%, #330867f9 100%);
}



.roadmap-p {
  padding: 3% 4%;
  color: var(--white);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 2;
  font-family: "PT Sans Narrow", sans-serif;
}
.project-title {
  font-size: 30px;
}
.rocket {
  width: 40px;
  position: absolute;
  /* bottom: 0px; */
  right: 30%;
  left: 73%;
  animation: rocket 4s linear infinite;
}
@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}
.rocket-2 {
  width: 40px;
  position: absolute;
  /* bottom: 0px; */
  left: 20%;
  animation: rocket 5s linear infinite;
}





/*  New road map */

.rd-title-con{
  margin-bottom: 8%;
}
.rd-mp-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.inner-rd-con{
  margin: 2%;
}

.map-hov h6{
  font-weight: 00;
  font-size: 22px;
  letter-spacing: 0;
  font-family: inherit;
  color: var(--white);
}

.map-hov p{
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1;
  font-family: "PT Sans Narrow", sans-serif;
  
}




.map-hov:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
  transition-duration:  0.3s;
  transition: all ease 1s;
  font-weight: 600;
}

.rd-img-con{
  margin-bottom: 7%;
}
.rd-img-con i{
  font-size: 60px; 
  color: #330867f9;
}

.rd-text-con{
  margin-bottom: 7%;
}
.inner-rd-con-img{
  width: 30%;
  height: 30%;
}











/* Team section */

#team-section {
  text-align: center;
  margin-top: 25px;
  padding: 7% 8%;
  background-image: linear-gradient(to top, #30d0d0a5 0%, #330867 50%, rgba(0, 0, 0, 0.696) 100%);
}
.team-title {
  color: var(--white);
  letter-spacing: 0;
}
.team-text {
  text-align: center;
  color: var(--white);
  margin-bottom: 10%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.team-text p {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 7;
  color: black;
}

.team-container {
  display: flex;
  justify-content: center;
}

.team-image {
  border: 0px solid var(--white);
  border-radius: 10px;
}

.img-1 {
  width: 50%;
  height: 60%;
  border: 1px solid var(--cyan);
  padding: 3px;
  border-radius: 10px;
}

.img-2 {
  width: 50%;
  height: 60%;
  border: 1px solid var(--cyan);
  padding: 3px;
  border-radius: 10px;
}

.img-3 {
  width: 50%;
  height: 60%;
  border: 1px solid var(--cyan);
  padding: 3px;
  border-radius: 10px;
}

#contact-section {
  text-align: center;
  padding: 5% 7%;
}

.contact-title {
  color: var(--cyan);
}

/* NFT */
#nft {
  text-align: center;
  padding: 5% 15%;
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(255,35,108,1) 887%); */
}

#faq {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.764) 15%, rgba(51, 8, 103, 0.759) 55%, rgba(0,255,255,0.6601234243697479) 100%);
  text-align: center;
  /* margin-top: 20px; */
  padding: 7% 8%;
  
}

/* FOOTER */

footer {
  padding: 5% 12%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 5;
}

.footer-text {
  padding: 15px;
}
.footer-text a {
  text-decoration: none;
  color: var(--orange);
  text-align: center;
  font-weight: 200;
  text-align: center;
}


.footer-title {
  font-size: 30px;
  
  color: var(--white);
  letter-spacing: 1;

  padding-bottom: 3%;
 
}

.ico {
  font-size: 35px;
 
  color: var(--white);
  text-align: center;
}

.Copyright{
  margin-top: 4%;
 
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 100;
}






/* Mobile */

@media screen and (max-width: 900px) {
  #Hero {
    padding: 30% 5%;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0) 87%,
      rgba(0, 255, 255, 0.9) 280%
    );
  }
  .hero-img {
    display: none;
  }

  .about-title {
    color: var(--white);
    letter-spacing: 0;
    
  }

  .road-map-title {
    color: var(--white);
  }

  .main-image-container {
    flex-direction: column;
  }

  .inner-container {
    margin: 3%;
    padding: 5%;
  }

  .inner-container {
    box-shadow: rgba(234, 35, 108, 0.45) 0px 25px 20px -20px;
  }

 

  
  .countdown-ctn{
    display: none;
  }

  .countdown-ctn span {
    font-size: 12px;
    padding: 1% 4%;
    
    
    
  }

  

  /* new road map */
  
  .rd-mp-container{
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .inner-rd-con{
    margin: 5%;
  }

  .footer-title{
    font-size: 25px;
  
  }

  .Copyright{
    margin-top: 5%;
    font-size: 20px;
    font-size: 18px;
  }



  

  #scroll-left{
    display: none;
  }
  
  #scroll-right{
    display: none;
  }

.marq{
  display: none;
}

#road-map-section {
  text-align: center;
   color: white;
  padding: 6% 4%;
  border-bottom: #00ffff;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}



.roadmap-p {
  padding: 6% 5%;
  margin: 4%;
  color: var(--white);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: 11px;
  letter-spacing: 2;
  font-family: "PT Sans Narrow", sans-serif;
}

.map-hov{
  margin: 10%;
}
.map-hov h6{
  font-weight: 00;
  font-size: 17px;
  letter-spacing: 0;
  font-family: inherit;
  color: var(--white);
}

.map-hov p{
  margin: 5%;
  padding: 6% 5%;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1;
  font-family: "PT Sans Narrow", sans-serif;
  
}

}
